body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #0A2E36;
    color: #F0F3BD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    } /*bajar el footer*/
    main {
        flex-grow: 1;
    }
  
  .navbar {
    background-color: #0A2E36; 
  }
 
  /* estilos para el texto en la barra de navegación */
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #F0F3BD;
  }
  
  .navbar-toggler-icon {
    background-color: #0A2E36;
  }

  .navbar-nav .nav-link:hover,
  .navbar-nav .active {
    color: #F0F3BD;
}
.navbar-brand img {
  height: 120px;
  max-height: 100%;
}

.footer {
    background-color: #0A2E36;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F0F3BD
   
    
  }
  /* estilos para los enlaces de redes sociales */
  .social-icon {
    margin-right: 20px; 
    text-decoration: none; 
    font-size: 1.5em; 
    color: #F0F3BD; 
  
  }

.social-icon:hover i {
  color: #0056b3; 
}