
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Heebo:wght@400;500&family=Nunito:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #0A2E36;
    color: #F0F3BD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    } /*bajar el footer*/
    main {
        flex-grow: 1;
    
}
.navbar-toggler-icon {
   
    background-color:#F0F3BD ;
}

.color1{
  background-color:  #0a2e36;
}
.cuadro{
    background-color: #00a896;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 7px 8px black
}
.maps{
    text-align: center;
}
.maps2{
    font-family: 'Roboto', sans-serif;

}
.textodir{
    font-family: 'Roboto', sans-serif;

}

main{
    flex-grow: 1;
}


  
  .color {
    background-color: #0a2e36;
  }
  
  .bg-nosotros {
    background-color: #294c60;
    padding: 10px;
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .tarjetas {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  
    .footer img {
      width: 50%;
    }
  }
.direccion{
  background-color: #294c60 ;
  border-radius: 7px;
  box-shadow: 0px 7px 8px black
}  
.mp1{
  background-color: #294c60;
  border-radius: 8px;
 
}
.form{
  background-color: #294c60;
}
.texto{
  color: #f0f3bd;
  font-family: 'Poppins', sans-serif;
}
.buton{
  background-color: #f0f3bd;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  color: #0a2e36;
}
.footer {
  background-color: #0A2E36;
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
/* estilos para los enlaces de redes sociales */
.social-icon {
  margin-right: 20px; 
  text-decoration: none; 
  font-size: 1.5em; 
  color: #F0F3BD; 

}

.social-icon:hover i {
color: #0056b3; 
}