* {
    margin: 0px;
    padding: 0px;

}
body{
    background-color:#0a2e36;
    font-family: 'Rubik', sans-serif;
}


.carousel-item img {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    filter: brightness(50%);
    width: 100%;
    height: 700px;
    object-fit: cover;

}

.CarruselImg {
    height: 100px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    text-align: left;
    
}



.card {
    width: 200px;
    height: 300px;
    object-fit: cover;

}




.card {
    position: relative;
    border: none;
    margin: 5px;
}

.card img {
    width: 200px;
    height: 300px;
    transition: transform .2s;
}

.card:hover img {
    transform: scale(1.1);
}
.container-destacadas{
    padding-left: 7%;
}
.btn-ver{
    margin-left: 42%;
    padding: 10px  30px ;
    margin-bottom: 30px;
    height: auto;
    margin-right: 30px;
    background-color: #00a896;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.btn-ver:hover {
    background-color: #f0f3bd;
    cursor: pointer;
    color: black;
  }

.card {
    cursor: pointer;
}
.CardsPelisAccion{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
}
.CardsPelisComedia{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.CardsPelisAccion{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
h3{
    
        color: #fff;
        font-size: 30px;
        padding-left: 2%;
    

}
.carruselBanner,
.slider,
.contenedorPeliculas {
  max-width: 100%; /* Limita el ancho al 100% del contenedor padre */
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}




@media (max-width: 480px) {
    .CardsPelisAccion{
        display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
 
    }
    .CardsPelisComedia{
        display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
    }
   
    .CardsPelisDestacadas{
        display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
    }
}

 
 @media (min-width: 768px) and (max-width: 1024px) {

    .carousel-caption {
        text-align: left;
        font-size: medium;
    }
 }
 
 @media (min-width: 1024px) {

 }